* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid_1-1 a {
  color: #891d1f;
  font-family: "Old Standard TT", serif;
  font-weight: 600;
  font-style: normal;
  text-decoration-line: none;
}

.gallery-layout {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: center;
  gap: 10rem;
  margin-top: 4rem;
}

.gallery-item {
  position: relative;
  width: 300px;
}

.gallery-item img {
  width: 100%;
  display: block;
  margin-bottom: 50px;
}

.center-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f5f2;
  padding: 15px 32px;
  font-size: 16px;
  color: #891d1f;
  font-family: "Old Standard TT", serif;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.center-button:hover {
  background-color: #891d1f;
  color: #f9f5f2;
}

@media screen and (max-width: 800px) {
  .gallery-layout {
    display: block;
    margin-left: 70px;
  }
}
