body {
  background-color: #f9f5f2;
}
h1 {
  color: #891d1f;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: none;
  font-size: xxx-large;
  margin: 0;
  padding: 0;
}

p {
  padding-right: 920px;
}
